
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Roboto:wght@500&display=swap');
*{box-sizing:border-box}
html,body {
  color: #212121;
  margin: 0;
  padding:0;
  overflow:hidden;
  max-width: 215.9mm;
  max-height: 279.4mm;
  font-family: 'Inter', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  border: black 1px solid;
  padding-left: 2cm;
  padding-top: 2cm;
  padding-bottom: 0.5cm;
  padding-right: 2cm;
  width: 22cm;
  height: 28cm;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("BackgorundMask.svg");
  
}

h1 {
  font-size: clamp( 16px, 10vh, 250px);
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
  z-index: 1;
}

.generals{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5cm;
  column-gap: 0.5cm;
  margin-bottom: 1cm;
}

.logo {
  text-align: left;
  align-self: start;
  margin-bottom: 0.8cm;
}

.headline{
  font-size: 28px ;
  font-weight: bold;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 0.5cm;
}

.generalDataGrid{
  width: 100%;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  row-gap: 0.3cm;
  column-gap: 0.5cm;
  margin-bottom: 1cm;
}

.generalData{
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  line-height: 5mm;
}

.genDato{
  color: #A0A4A6;
}

.footer{
  position: absolute;
  bottom: 1cm;
  left: 1cm;
  text-align: left;
  align-self: flex-start;
}

.incDetails{
  margin-top: 0.3cm;
  font-family: 'Roboto', sans-serif;  ;
  font-weight: 500;
  font-size: 12px;
  line-height:5mm;
}

.rcn{
  color: #A0A4A6;
  font-size: 14px;
  font-weight: 500;
}

.gridContainer{
  display: grid;
  grid-template-columns: 0.5fr  0.75fr 0.75fr 0.5fr 0.5fr 0.5fr;
}

.column{
  padding-right: 5px;
  margin-right: 5px;

}

.header{
  font-weight: 500;
  font-size: 12px;
  color: #A0A4A6;
  text-align: right;
  padding-bottom: 8px;
  border-bottom: 1px solid #E3E5E5 ;

}

.headerArea{
  font-weight: 500;
  font-size: 12px;
  color: #A0A4A6;
  text-align: left;
  padding-bottom: 8px;
  border-bottom: 1px solid #E3E5E5 ;
}

.colContent{
  font-weight: 500;
  font-size: 13px;
  color: #5E6366;
  text-align: right;
}

.area{
  font-weight: 500;
  font-size: 13px;
  text-align: left;
  margin-bottom: 0.3cm;
  margin-top: 0.3cm;
}

.dato{
  margin-top: 0.3cm;
  margin-bottom: 0.3cm;
}